
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

* {
  margin:0;
  padding:0;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
text-align: center;
}
a {
  text-decoration: none;
}

html,body {
  background: #fff;
  position: relative;
  height: 100%;
}
.logo {
width: 150px;
}
.intro {
width: 350px;
}
.bg {
width: 100%;
height: 100%;
background-color: #fff;
background: #fff;
background: url(../img/3.jpg) 100%;
background-position: right bottom;
background-size: 60%;
background-repeat: no-repeat;
background-origin: border-box;
display: flex;
justify-content: flex-start;
align-items:center;
color: #4680FF;
overflow: hidden;

}
.texto{
width: 400px;
max-width: 90%;
margin-left: 10%;
text-align: center!important;
}
.texto img {
padding: 0;
margin: 0 auto;
}


@media only screen and (max-width: 480px) {
  .logo {
  width: 100px;
  }
  .intro {
  width: 150px;
  }
  .bg {
  height: 50%;
  align-items: flex-start;
background: #fff!important;
  }
  .texto{
  padding-top: 0px;
  margin: 0 auto!important;
  }
}
