
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

* {
  margin:0;
  padding:0;
  font-family: 'Roboto Slab', sans-serif;
text-align: center;
}
a {
  text-decoration: none;
}

html,body {
  background: #fff;
  height: 100vh;
}
.logo {
width: 150px;
}
.intro {
width: 350px;
}
.bg {
width: 100%;
height: 100vh;
background-color: #fff;
background: #fff;
background: url(../img/3.jpg) 100%;
background-position: right bottom;
background-size: 60%;
background-repeat: no-repeat;
background-origin: border-box;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
-webkit-box-align:center;
    -ms-flex-align:center;
        align-items:center;
color: #4680FF;
overflow: hidden;

}
.texto{
width: 400px;
max-width: 90%;
margin-left: 10vw;
text-align: center!important;
}
.texto img {
padding: 0;
margin: 0 auto;
}

.flecha {
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 10px;
}
.fl {
  position: absolute;
  bottom: 20px;
  width: 90%;
}
@media only screen and (max-width: 480px) {
  .logo {
  width: 50vw
  }
  .intro {
  height: 50vh;
  width: auto
  }
  .bg {
  background: #fff!important
  }
  .texto{
  padding-top: 0px;
  margin: 0 auto!important;
  }
}
