<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app nxmlns="http://www.w3.g-app org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
  <title>QR code</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/qrcode.js"></script>
  <script type="text/javascript" src="js/rgbcolor.js"></script>
  <script type="text/javascript" src="js/canvg.js"></script>
  <script type="text/javascript">

  </script>
</head>
<body>
  <form class="">
    <p>Nome: <input type="text" ng-model="name"></p>
    <p>Raça: <input type="text" ng-model="raca"></p>
    <p>sexo: <input type="text" ng-model="sexo"></p>
    <input id="text" type="text" value="teste" ng-model="name + raca + sexo" placeholder="teste"/><br><br>
    <button id="tey" type="button" name="button">TEY</button>
  </form>
<div id="svg">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svgg">
      <g id="qrcode"/>
    </svg>
  </div>
<br>
  <canvas id="canvas" width="300px" height="300px"></canvas><br>
  <img id="imagem" class="full" width="300px" height="300px"/>


  <script type="text/javascript">
  var qrcode = new QRCode(document.getElementById("qrcode"), {
    width : 300,
    height : 300,
    useSVG: true
  });

  function makeCode () {
    var elText = document.getElementById("text");

    if (!elText.value) {
      //alert("Digite um texto");
      elText.focus();
      return;
    }

    qrcode.makeCode(elText.value);
    //alert("criado");

    //event.preventDefault();

    //Convertendo svg em canvas
    var canvas = document.getElementById("canvas");
    var svg = $("#svg").html().replace(/>\s+/g, ">").replace(/\s+</g, "<").replace(" xlink=", " xmlns:xlink=").replace(/\shref=/g, " xlink:href=");
    canvg(canvas, svg);
    //alert("convert to canvas");

    //Convertendo canvas em png
    var data = canvas.toDataURL("image/png");
    $('#imagem').attr('src', data);
    $('#canvas').hide();
  }

  makeCode();

  $( "#tey" ).click(function() {
    makeCode();
  });

  $("#text").
  on("blur", function () {
    makeCode();
  }).
  on("keydown", function (e) {
    if (e.keyCode == 13) {
      makeCode();
    }
  });

  </script>

</body>
</html>
