<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app nxmlns="http://www.w3.g-app org/1999/xhtml" xml:lang="pt-br" lang="pt-br">

<head>
  <title>QR code</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <meta name="description" content="Bichinhos - Qr pets">
  <link rel="canonical" href="http://">
  <meta name="author" content="bichinhos">
  <meta name="robots" content="index">

  <meta property="og:title" content="Bichinhos - Qr pets" />
  <meta property="fb:app_id" content="1154262757941899" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://" />
  <meta property="og:image" content="http://" />
  <meta property="og:description" content="Bichinhos - Qr pets" />
  <meta property="og:site_name" content="bichinhos" />
  <meta property="fb:admins" content="100002787447461" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Bichinhos - Qr pets">
  <meta name="twitter:description" content="Bichinhos - Qr pets">
  <meta name="twitter:creator" content="@gustavoquinalha">
  <meta name="twitter:image" content="http://">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Bichinhos - Qr pets">
  <meta itemprop="description" content="Bichinhos - Qr pets">
  <meta itemprop="image" content="http://">

  <link rel="stylesheet" href="css/bichinhos.css">

</head>

<body>
  <div class="bg">
    <div class="texto">
      <img src="img/logo.svg" class="logo" alt="">
      <br>
      <img src="img/intro.svg" class="intro" width="300" alt="">
    </div>
  </div>
  <div class="flecha">
    <div class="fl">
      <img src="img/pata.svg" width="50" alt="" />
    </div>
  </div>

  <h1>O jeitinho mais fofinho de manter seu bichinho seguro.</h1>
  <form class="">
    <p>Nome:
      <input type="text" ng-model="name">
    </p>
    <p>Raça:
      <input type="text" ng-model="raca">
    </p>
    <p>sexo:
      <input type="text" ng-model="sexo">
    </p>
    <input id="text" type="text" value="teste" ng-model="name + raca + sexo" placeholder="teste" />
    <br>
    <br>
    <button id="tey" type="button" name="button">TEY</button>
  </form>
  <div id="svg">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svgg">
      <g id="qrcode" />
    </svg>
  </div>
  <br>
  <canvas id="canvas" width="300px" height="300px"></canvas>
  <br>
  <img id="imagem" class="full" width="300px" height="300px" />







  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/qrcode.js"></script>
  <script type="text/javascript" src="js/rgbcolor.js"></script>
  <script type="text/javascript" src="js/canvg.js"></script>
  <script type="text/javascript" src="js/main.js">
  </script>


</body>

</html>
